<div class="card shadow-sm">
    <div class="card-header">
        <h3 class="card-title">Cálculo Salarial</h3>
        <div class="card-toolbar"></div>
    </div>
    <div class="card-body">
        <div class="py-5">
            <div class="table-responsive">
                <table class="table table-row-bordered table-row-gray-300 gy-7">
                    <thead>
                        <tr class="fw-bolder text-gray-800">
                            <th>Antiguedad</th>
                            <th>Dias laborados</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="py-5">
            <div class="table-responsive">
                <table class="table table-row-bordered table-row-gray-300 gy-7">
                    <thead>
                        <tr class="fw-bolder fs-6 text-gray-800">
                            <th>Name</th>
                            <th>Position</th>
                            <th>Office</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Tiger Nixon</td>
                            <td>System Architect</td>
                            <td>Edinburgh</td>
                        </tr>
                        <tr>
                            <td>Garrett Winters</td>
                            <td>Accountant</td>
                            <td>Tokyo</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>