<div class="card shadow-sm">
    <div class="card-header">
        <h3 class="card-title">Cálculo Salarial</h3>
        <div class="card-toolbar"></div>
    </div>
    <div class="card-body">

        <div class="row justify-content-between">
            <div class="py-5">
                <div class="table-responsive">
                    <table class="table table-row-bordered table-row-gray-300 gy-7">

                        <tbody>
                            <tr>
                                <td> <b>Antigüedad </b> 9 años, 6 meses, 10 dias</td>
                                <td> <b>Dias Laborados </b> 4115</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="py-5">
            <div class="table-responsive ">
                <table class="table table-row-bordered table-row-gray-300 gs-7 gy-7 ">
                    <thead>
                        <tr class="fw-bold fs-6 text-gray-800 table-active ">
                            <th><b>Concepto</b></th>
                            <th><b>Factor</b></th>
                            <th><b>Resultado</b></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Salario base mensual (SBM)</td>
                            <td></td>
                            <td>L. 18,000</td>
                        </tr>
                        <tr>
                            <td>Salario ordinario promedio mensual (SOPM)</td>
                            <td>SOD/12x14=</td>
                            <td>L. 18,000</td>
                        </tr>
                        <tr>
                            <td>Salario promedio mensual (SPM)</td>
                            <td> SOPM=</td>
                            <td>L. 18,000</td>
                        </tr>
                        <tr>
                            <td>Salario ordinario diario (SOD)</td>
                            <td>SBM/30=</td>
                            <td>L. 18,000</td>
                        </tr>
                        <tr>
                            <td>Salario ordinario promedio diario (SOPD)</td>
                            <td>SBM/30=</td>
                            <td>L. 18,000</td>
                        </tr>
                        <tr>
                            <td>Salario promedio diario (SBM)</td>
                            <td>SBM/30=</td>
                            <td>L. 18,000</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>