<div class="card shadow-sm">
    <div class="card-header">
        <h3 class="card-title">Cálculo Salarial</h3>
        <div class="card-toolbar"></div>
    </div>
    <div class="card-body">

        <div class="d-flex justify-content-between text-15">
            <p> <b>Antigüedad: </b> 9 años, 6 meses, 10 dias</p>
            <p> <b>Dias Laborados: </b> 4115</p>
        </div>

        <div class="py-5">
            <div class="table-responsive ">
                <table class="table table-row-bordered table-row-gray-300 gs-7 gy-7 ">
                    <thead>
                        <tr class="fw-bold fs-6 text-gray-800 table-active ">
                            <th><h5><b>Concepto</b></h5></th>
                            <th><h5><b>Factor</b></h5></th>
                            <th><h5><b>Resultado</b></h5></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><b>Salario base mensual (SBM)</b></td>
                            <td></td>
                            <td>L. 18,000</td>
                        </tr>
                        <tr>
                            <td><b>Salario ordinario promedio mensual (SOPM)</b></td>
                            <td>SOD/12x14=</td>
                            <td>L. 18,000</td>
                        </tr>
                        <tr>
                            <td><b>Salario promedio mensual (SPM)</b></td>
                            <td> SOPM=</td>
                            <td>L. 18,000</td>
                        </tr>
                        <tr>
                            <td><b>Salario ordinario diario (SOD)</b></td>
                            <td>SBM/30=</td>
                            <td>L. 18,000</td>
                        </tr>
                        <tr>
                            <td><b>Salario ordinario promedio diario (SOPD)</b></td>
                            <td>SBM/30=</td>
                            <td>L. 18,000</td>
                        </tr>
                        <tr>
                            <td><b>Salario promedio diario (SBM)</b></td>
                            <td>SBM/30=</td>
                            <td>L. 18,000</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>