
.bg-morning{
  background: url('../../../../../assets/morning.jpeg') no-repeat;
  background-size:auto;
  background-position: 100% 62%;
}

.bg-afternoon{
  background: url('../../../../../assets/afternoon.jpg') no-repeat;
  background-size:cover;
  background-position: 100% 55%;
}

.bg-night{
  background: url('../../../../../assets/night.jpeg') no-repeat;
  background-size:auto;
  background-position: 100% 15%;
}



.layer-morning{
  position:absolute;
  background-image: linear-gradient(-225deg, #fdfdfd 0%, #fdfdfd 40%, #257fb300 100%);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  backdrop-filter: blur(.8px);
}

.layer-afternoon{
  position:absolute;
  background-image: linear-gradient(-225deg, #fdfdfd 0%, #fdfdfd 40%, #257fb300 100%);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  backdrop-filter: blur(.5px);
}

.layer-night{
  position:absolute;
  background-image: linear-gradient(-225deg, #05253a 0%, #05253a 45%, #257fb300 100%);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  backdrop-filter: blur(.4px);
}
