<div class="card shadow-sm">
    <div class="card-header">
        <h3 class="card-title">Derechos e Indemnizaciones</h3>
        <!--<div class="card-toolbar">
            <button type="button" class="btn btn-sm btn-light">
                Action
            </button>
        </div>-->
    </div>
    <div class="card-body">
        <div class="row mb-5">
            <p>Habilite los derechos e indenizaciones a los que usted goza.</p>
        </div>
        <div class="row">
            <div *ngIf="currentContractType === 1" class="col-sm-6 px-10">
                <div class="d-flex justify-content-between mb-5">
                    <div class="form-check form-switch form-check-custom form-check-solid me-10">
                        <input class="form-check-input h-20px w-30px" type="checkbox" value="" id="flexSwitch20x30"/>
                        <label class="form-check-label form-ecms-label" for="flexSwitch20x30">
                            Preaviso
                        </label>
                    </div>
                    <span class="form-ecms-label">SPD X valor preaviso =</span>
                    <span class="form-ecms-label">L. 35,000.00</span>
                </div>
                <div class="d-flex justify-content-between mb-5">
                    <div class="form-check form-switch form-check-custom form-check-solid me-10">
                        <input class="form-check-input h-20px w-30px" type="checkbox" value="" id="flexSwitch20x30"/>
                        <label class="form-check-label" for="flexSwitch20x30">
                            Cesantía
                        </label>
                    </div>
                    <span>SPD X valor preaviso =</span>
                    <span>L. 87,500.00</span>
                </div>
                <div class="d-flex justify-content-between mb-5">
                    <div class="form-check form-switch form-check-custom form-check-solid me-10">
                        <input class="form-check-input h-20px w-30px" type="checkbox" value="" id="flexSwitch20x30"/>
                        <label class="form-check-label" for="flexSwitch20x30">
                            Cesantía proporcional
                        </label>
                    </div>
                    <span>SPD X valor preaviso =</span>
                    <span>L. 16,090.00</span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="d-flex justify-content-between mb-5">
                    <div class="form-check form-switch form-check-custom form-check-solid me-10">
                        <input class="form-check-input h-20px w-30px" type="checkbox" value="" id="flexSwitch20x30"/>
                        <label class="form-check-label" for="flexSwitch20x30">
                            Vacaciones proporcional
                        </label>
                    </div>
                    <span>SPD X valor preaviso =</span>
                    <span>L. 10,726.85</span>
                </div>
                <div class="d-flex justify-content-between mb-5">
                    <div class="form-check form-switch form-check-custom form-check-solid me-10">
                        <input class="form-check-input h-20px w-30px" type="checkbox" value="" id="flexSwitch20x30"/>
                        <label class="form-check-label" for="flexSwitch20x30">
                            Treceavo mes proporcional
                        </label>
                    </div>
                    <span>SPD X valor preaviso =</span>
                    <span>L. 37,223.71</span>
                </div>
                <div class="d-flex justify-content-between mb-5">
                    <div class="form-check form-switch form-check-custom form-check-solid me-10">
                        <input class="form-check-input h-20px w-30px" type="checkbox" value="" id="flexSwitch20x30"/>
                        <label class="form-check-label" for="flexSwitch20x30">
                            Catorceavo mes proporcional
                        </label>
                    </div>
                    <span>SPD X valor preaviso =</span>
                    <span>L. 1,981.21</span>
                </div>
            </div>
        </div>
        <div class="row"></div>
    </div>
    <div class="card-footer d-flex justify-content-end">
        <button type="button" class="btn btn-primary">Siguiente</button>
    </div>
</div>
