<div class="card shadow-sm">
    <div class="card-header">
      <h3 class="card-title">Cálculo de prestaciones generado</h3>
      <!--<div class="card-toolbar">
        <button type="button" class="btn btn-sm btn-light">
          Action
        </button>
      </div>-->
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12 col-lg-8">
                <br>
                <p>Su cálculo de prestaciones se ha generado exitosamente, haga clic en el boton de descarga.</p>
            </div>
            <div class="col-sm-12 col-lg-4 d-flex justify-content-end">
                <button
                    type="button"
                    (click)="printDocument()"
                    class="btn btn-primary"
                >
                    Descargar cálculo de prestaciones
                </button>
            </div>
        </div>
    </div>
</div>
