@import '../../../../../assets/sass/core/components/variables';

.stepper-title{
    font-size: 15px !important;
}

.is-valid{
    border: 1px solid $success;
}

.is-invalid{
    border: 1px solid $danger;
}

.text-danger{
    color: $danger;
}

.radio-container{
    position: relative;
    height: 4rem;
    width: 100%;
    margin: .5rem;
    input {
        position: absolute;
        height: 100%;
        width: 100%;
        margin: 0;
        cursor: pointer;
        z-index: 2;
        opacity: 0;
        &:checked + .radio-tile{
            background-color: $primary;
            box-shadow: 0 0 5px $primary;
        }
        &:checked + .radio-tile label{
            color: white;
        }
    }
    .radio-tile{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        background-color: #F5F8FA;
        border-radius: .715rem;
        transition: all 300ms ease;
    }
    label{
        color: silver;
        font-family: "Pluto Sans Bold";
        font-size: 1.1em;
        font-weight: 800;
        letter-spacing: 1px;
    }

    
}