<p>datos-trabajador works!</p>

<div class="card shadow-sm">
    <div class="card-header">
        <h3 class="card-title">Datos del trabajador</h3>
        <div class="card-toolbar"></div>
    </div>
    <div class="card-body">

        <!--begin::Stepper-->
        <div class="stepper stepper-pills stepper-column d-flex flex-column flex-lg-row" id="kt_stepper_example_vertical">
            <!--begin::Aside-->
            <div class="d-flex flex-row-auto w-100 w-lg-300px">
                <!--begin::Nav-->
                <div class="stepper-nav flex-cente">
                    <!--begin::Step 1-->
                    <div class="stepper-item me-5 current" data-kt-stepper-element="nav">
                        <!--begin::Line-->
                        <div class="stepper-line w-40px"></div>
                        <!--end::Line-->

                        <!--begin::Icon-->
                        <div class="stepper-icon w-40px h-40px">
                            <i class="stepper-check fas fa-check"></i>
                            <span class="stepper-number">1</span>
                        </div>
                        <!--end::Icon-->

                        <!--begin::Label-->
                        <div class="stepper-label">
                            <h3 class="stepper-title">Datos del trabajador</h3>
                        </div>
                        <!--end::Label-->
                    </div>
                    <!--end::Step 1-->

                    <!--begin::Step 2-->
                    <div class="stepper-item me-5" data-kt-stepper-element="nav">
                        <!--begin::Line-->
                        <div class="stepper-line w-40px"></div>
                        <!--end::Line-->

                        <!--begin::Icon-->
                        <div class="stepper-icon w-40px h-40px">
                            <i class="stepper-check fas fa-check"></i>
                            <span class="stepper-number">2</span>
                        </div>
                        <!--begin::Icon-->

                        <!--begin::Label-->
                        <div class="stepper-label">
                            <h3 class="stepper-title">Datos demográficos</h3>
                        </div>
                        <!--end::Label-->
                    </div>
                    <!--end::Step 2-->

                    <!--begin::Step 3-->
                    <div class="stepper-item me-5" data-kt-stepper-element="nav">
                        <!--begin::Line-->
                        <div class="stepper-line w-40px"></div>
                        <!--end::Line-->

                        <!--begin::Icon-->
                        <div class="stepper-icon w-40px h-40px">
                            <i class="stepper-check fas fa-check"></i>
                            <span class="stepper-number">3</span>
                        </div>
                        <!--begin::Icon-->

                        <!--begin::Label-->
                        <div class="stepper-label">
                            <h3 class="stepper-title">Datos salariales</h3>
                        </div>
                        <!--end::Label-->
                    </div>
                    <!--end::Step 3-->

                    <!--begin::Step 4-->
                    <div class="stepper-item me-5" data-kt-stepper-element="nav">
                        <!--begin::Line-->
                        <div class="stepper-line w-40px"></div>
                        <!--end::Line-->

                        <!--begin::Icon-->
                        <div class="stepper-icon w-40px h-40px">
                            <i class="stepper-check fas fa-check"></i>
                            <span class="stepper-number">4</span>
                        </div>
                        <!--begin::Icon-->

                        <!--begin::Label-->
                        <div class="stepper-label">
                            <h3 class="stepper-title">Salario en especie</h3>
                        </div>
                        <!--end::Label-->
                    </div>
                    <!--end::Step 4-->
                </div>
                <!--end::Nav-->
            </div>

            <!--begin::Content-->
            <div class="flex-row-fluid">
                <!--begin::Form-->
                <form class="form  " novalidate="novalidate">
                    <!--begin::Group-->
                    <div class="">
                        <!--begin::Step 1 DATOS DEL TRABAJADOR-->
                        <div class="flex-column  flex-lg-row gap-5 justify-content-start " data-kt-stepper-element="content">
                            <!--begin::Input group-->
                            <div class="fv-row mb-10">
                                <!--begin::Label-->
                                <label class="form-label">Nombre del trabajador </label>
                                <!--end::Label-->

                                <!--begin::Input-->
                                <input type="text" class="form-control form-control-solid" name="input1" placeholder="" value="" />
                                <!--end::Input-->
                            </div>
                            <!--end::Input group-->

                            <!--begin::Input group-->
                            <div class="fv-row mb-10">
                                <!--begin::Label-->
                                <label class="form-label">Apellido del trabajador </label>
                                <!--end::Label-->

                                <!--begin::Input-->
                                <input type="text" class="form-control form-control-solid" name="input2" placeholder="" value="" />
                                <!--end::Input-->
                            </div>
                            <!--end::Input group-->

                            <!--begin::Input group-->
                            <div class="fv-row mb-10">
                                <!--begin::Label-->
                                <label class="form-label">Sexo </label>
                                <!--end::Label-->

                                <!--begin::Switch-->
                                <select type="text" class="form-select form-select-solid" name="input2" placeholder="">
                                    <option value="0" disabled>Seleccione una opción</option>
                                    <option value="1">Femenino</option>
                                    <option value="2">Masculino</option>
                                </select>
                                <!--end::Switch-->
                            </div>
                            <!--end::Input group-->
                            <!--begin::Input group-->
                            <div class="fv-row mb-10">
                                <!--begin::Label-->
                                <label class="form-label">Edad </label>
                                <!--end::Label-->

                                <!--begin::Input-->
                                <input type="text" class="form-control form-control-solid" name="input2" placeholder="" value="" />
                                <!--end::Input-->
                            </div>
                            <!--end::Input group-->

                        </div>
                        <!--begin::Step 1-->
                        <div class="flex-column flex-lg-row gap-5 justify-content-start " data-kt-stepper-element="content">
                            <!--begin::Input group-->
                            <div class="fv-row mb-10">
                                <!--begin::Label-->
                                <label class="form-label">Tipo de identificación </label>
                                <!--end::Label-->

                                <!--begin::Switch-->
                                <select type="text" class="form-select form-select-solid" name="input2" placeholder="">
                                <option value="0" disabled>Seleccione una opción</option>
                                <option value="1">Identidad</option>
                                <option value="2">Pasaporte</option>
                                <option value="3">Carnet de residente</option>
                            </select>
                                <!--end::Switch-->
                            </div>
                            <!--end::Input group-->

                            <!--begin::Input group-->
                            <div class="fv-row mb-10">
                                <!--begin::Label-->
                                <label class="form-label">Identificación </label>
                                <!--end::Label-->

                                <!--begin::Input-->
                                <input type="text" class="form-control form-control-solid" name="input2" placeholder="" value="" />
                                <!--end::Input-->
                            </div>
                            <!--end::Input group-->

                            <!--begin::Input group-->
                            <div class="fv-row mb-10">
                                <!--begin::Label-->
                                <label class="form-label">Número telefónico </label>
                                <!--end::Label-->

                                <!--begin::Input-->
                                <input type="text" class="form-control form-control-solid" name="input2" placeholder="" value="" />
                                <!--end::Input-->
                            </div>
                            <!--end::Input group-->

                            <!--begin::Input group-->
                            <div class="fv-row mb-10">
                                <!--begin::Label-->
                                <label class="form-label">Correo eletrónico </label>
                                <!--end::Label-->

                                <!--begin::Input-->
                                <input type="text" class="form-control form-control-solid" name="input2" placeholder="" value="" />
                                <!--end::Input-->
                            </div>
                            <!--end::Input group-->
                        </div>

                        <!--begin::Step 2 DATOS DEMOGRAFICOS-->
                        <div class="flex-column flex-lg-row gap-5 justify-content-between " data-kt-stepper-element="content">
                            <!--begin::Input group-->
                            <div class="fv-row mb-10">
                                <!--begin::Label-->
                                <label class="form-label">Departamento </label>
                                <!--end::Label-->

                                <!--begin::Switch-->
                                <select type="text" class="form-select form-select-solid" name="input2" placeholder="">
                                    <option value="0" disabled>Seleccione una opción</option>
                                    <option value="1">Francisco Morazán</option>
                                    <option value="2">Cortés</option>
                                    <option value="3">El Paraíso</option>
                                </select>
                                <!--end::Switch-->
                            </div>
                            <!--end::Input group-->

                            <!--begin::Input group-->
                            <div class="fv-row mb-10">
                                <!--begin::Label-->
                                <label class="form-label">Municipio </label>
                                <!--end::Label-->

                                <!--begin::Switch-->
                                <select type="text" class="form-select form-select-solid" name="input2" placeholder="">
                                <option value="0" disabled>Seleccione una opción</option>
                                <option value="1">Distrito Central</option>
                                <option value="2">San Pedro Sula</option>
                                <option value="3">Danlí</option>
                            </select>
                                <!--end::Switch-->
                            </div>
                            <!--end::Input group-->

                            <!--begin::Input group-->
                            <div class="fv-row mb-10">
                                <!--begin::Label-->
                                <label class="form-label">Ciudad </label>
                                <!--end::Label-->

                                <!--begin::Switch-->
                                <select type="text" class="form-select form-select-solid" name="input2" placeholder="">
                                    <option value="0" disabled>Seleccione una opción</option>
                                    <option value="1">Tegucigalpa</option>
                                    <option value="2">San Pedro Sula</option>
                                    <option value="3">Danlí</option>
                                </select>
                                <!--end::Switch-->
                            </div>
                            <!--end::Input group-->
                        </div>
                        <!--begin::Step -->


                        <!--begin::Step 3 DATOS SALARIALES-->
                        <div class="flex-column flex-lg-row gap-5 justify-content-start current " data-kt-stepper-element="content">
                            <!--begin::Input group-->
                            <div class="fv-row mb-10">
                                <!--begin::Label-->
                                <label class="form-label d-flex align-items-center"> Nombre de la empresa </label>
                                <!--end::Label-->
                                <!--begin::Input-->
                                <input type="text" class="form-control form-control-solid" name="input1" placeholder="" value="" />
                                <!--end::Input-->
                            </div>
                            <!--end::Input group-->

                            <!--begin::Input group-->
                            <div class="fv-row mb-10">
                                <!--begin::Label-->
                                <label class="form-label"> Actividad económica </label>
                                <!--end::Label-->

                                <!--begin::Switch-->
                                <select type="text" class="form-select form-select-solid" name="input2" placeholder="">
                                    <option value="0" disabled>Seleccione una opción</option>
                                    <option value="1">Opcion1</option>
                                    <option value="2">Opcion2</option>
                                    <option value="3">Opcion3</option>
                                </select>
                                <!--end::Switch-->
                            </div>
                            <!--end::Input group-->
                            <div class="fv-row mb-10">
                                <!--begin::Label-->
                                <label class="form-label"> ¿Recibe un salario fijo? </label>
                                <!--end::Label-->

                                <!--begin::Switch-->
                                <select type="text" class="form-select form-select-solid" name="input2" placeholder="">
                                    <option value="0" disabled>Seleccione una opción</option>
                                    <option value="1">Si</option>
                                    <option value="2">No</option>
                                </select>
                                <!--end::Switch-->
                            </div>
                            <!--end::Input group-->
                            <div class="fv-row mb-10">
                                <!--begin::Label-->
                                <label class="form-label d-flex align-items-center"> Salario base </label>
                                <!--end::Label-->
                                <!--begin::Input-->
                                <input type="text" class="form-control form-control-solid" name="input1" placeholder="" value="" />
                                <!--end::Input-->
                            </div>
                        </div>
                        <!--begin::Step 1-->

                        <!--begin::Step 1-->
                        <div class="flex-column flex-lg-row gap-5 justify-content-start current " data-kt-stepper-element="content">

                            <div class="fv-row mb-10">
                                <!--begin::Label-->
                                <label class="form-label"> Tamaño de la empresa </label>
                                <!--end::Label-->

                                <!--begin::Switch-->
                                <select type="text" class="form-select form-select-solid" name="input2" placeholder="">
                                    <option value="0" disabled>Seleccione una opción</option>
                                    <option value="1">0 a 10 Empleados</option>
                                    <option value="2">11 a 20 Empleados</option>
                                    <option value="2">22 a 30 Empleados</option>
                                </select>
                                <!--end::Switch-->
                            </div>
                            <!--end::Input group-->
                            <div class="fv-row mb-10">
                                <!--begin::Label-->
                                <label class="form-label d-flex align-items-center"> Fecha de inicio </label>
                                <!--end::Label-->
                                <!--begin::Input-->
                                <input type="text" class="form-control form-control-solid" name="input1" placeholder="" value="" />
                                <!--end::Input-->
                            </div>

                            <div class="fv-row mb-10">
                                <!--begin::Label-->
                                <label class="form-label d-flex align-items-center"> Fecha de despido </label>
                                <!--end::Label-->
                                <!--begin::Input-->
                                <input type="text" class="form-control form-control-solid" name="input1" placeholder="" value="" />
                                <!--end::Input-->
                            </div>
                            <!--end::Input group-->
                            <!--begin::Input group-->

                        </div>
                        <!--begin::Step 1-->

                        <div class="flex-column flex-lg-row gap-5 justify-content-start current " data-kt-stepper-element="content">

                            <div class="fv-row mb-10">
                                <ul class="nav nav-tabs nav-line-tabs nav-line-tabs-2x mb-5 fs-6  justify-content-between">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#kt_tab_pane_4">Comisiones</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-bs-toggle="tab" href="#kt_tab_pane_5">Horas extras</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-bs-toggle="tab" href="#kt_tab_pane_6">Bonificaciones</a>
                                    </li>
                                </ul>

                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="kt_tab_pane_4" role="tabpanel">
                                        <div class="fv-row mb-10">
                                            <!--begin::Label-->
                                            <label class="form-label d-flex align-items-center">Ingrese la cantidad de comisiones de los últimos seis meses. </label>
                                            <!--end::Label-->
                                        </div>
                                        <div class="flex-column flex-lg-row gap-5 justify-content-start current " data-kt-stepper-element="content">
                                            <div class="fv-row mb-10">
                                                <!--begin::Label-->
                                                <label class="form-label d-flex align-items-center"> Comisiones del mes 1 </label>
                                                <!--end::Label-->
                                                <!--begin::Input-->
                                                <input type="text" class="form-control form-control-solid" name="input1" placeholder="" value="" />
                                                <!--end::Input-->
                                            </div>

                                            <div class="fv-row mb-10">
                                                <!--begin::Label-->
                                                <label class="form-label d-flex align-items-center"> Comisiones del mes 2 </label>
                                                <!--end::Label-->
                                                <!--begin::Input-->
                                                <input type="text" class="form-control form-control-solid" name="input1" placeholder="" value="" />
                                                <!--end::Input-->
                                            </div>
                                            <div class="fv-row mb-10">
                                                <!--begin::Label-->
                                                <label class="form-label d-flex align-items-center"> Comisiones del mes 3 </label>
                                                <!--end::Label-->
                                                <!--begin::Input-->
                                                <input type="text" class="form-control form-control-solid" name="input1" placeholder="" value="" />
                                                <!--end::Input-->
                                            </div>
                                            <div class="fv-row mb-10">
                                                <!--begin::Label-->
                                                <label class="form-label d-flex align-items-center"> Comisiones del mes 4 </label>
                                                <!--end::Label-->
                                                <!--begin::Input-->
                                                <input type="text" class="form-control form-control-solid" name="input1" placeholder="" value="" />
                                                <!--end::Input-->
                                            </div>
                                        </div>

                                        <div class="flex-column flex-lg-row gap-5 justify-content-start current " data-kt-stepper-element="content">
                                            <div class="fv-row mb-10">
                                                <!--begin::Label-->
                                                <label class="form-label d-flex align-items-center"> Comisiones del mes 5 </label>
                                                <!--end::Label-->
                                                <!--begin::Input-->
                                                <input type="text" class="form-control form-control-solid" name="input1" placeholder="" value="" />
                                                <!--end::Input-->
                                            </div>
                                            <div class="fv-row mb-10">
                                                <!--begin::Label-->
                                                <label class="form-label d-flex align-items-center"> Comisiones del mes 6 </label>
                                                <!--end::Label-->
                                                <!--begin::Input-->
                                                <input type="text" class="form-control form-control-solid" name="input1" placeholder="" value="" />
                                                <!--end::Input-->
                                            </div>
                                        </div>
                                        <div class="flex-column flex-lg-row gap-5 justify-content-between current " data-kt-stepper-element="content">
                                            <div class="fv-row mb-10">
                                                <!--begin::Label-->
                                                <label class="form-label d-flex align-items-center"> Comisiones promedio </label>
                                                <!--end::Label-->
                                            </div>
                                            <div class="fv-row mb-10">
                                                <!--begin::Label-->
                                                <label class="form-label d-flex align-items-center"> L. 18,000.00 </label>
                                                <!--end::Label-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="kt_tab_pane_5" role="tabpanel">
                                        <div class="fv-row mb-10">
                                            <!--begin::Label-->
                                            <label class="form-label d-flex align-items-center">Ingrese la cantidad de comisiones de los últimos seis meses. </label>
                                            <!--end::Label-->
                                        </div>
                                        <div class="flex-column flex-lg-row gap-5 justify-content-start current " data-kt-stepper-element="content">
                                            <div class="fv-row mb-10">
                                                <!--begin::Label-->
                                                <label class="form-label d-flex align-items-center"> Comisiones del mes 1 </label>
                                                <!--end::Label-->
                                                <!--begin::Input-->
                                                <input type="text" class="form-control form-control-solid" name="input1" placeholder="" value="" />
                                                <!--end::Input-->
                                            </div>

                                            <div class="fv-row mb-10">
                                                <!--begin::Label-->
                                                <label class="form-label d-flex align-items-center"> Comisiones del mes 2 </label>
                                                <!--end::Label-->
                                                <!--begin::Input-->
                                                <input type="text" class="form-control form-control-solid" name="input1" placeholder="" value="" />
                                                <!--end::Input-->
                                            </div>
                                            <div class="fv-row mb-10">
                                                <!--begin::Label-->
                                                <label class="form-label d-flex align-items-center"> Comisiones del mes 3 </label>
                                                <!--end::Label-->
                                                <!--begin::Input-->
                                                <input type="text" class="form-control form-control-solid" name="input1" placeholder="" value="" />
                                                <!--end::Input-->
                                            </div>
                                            <div class="fv-row mb-10">
                                                <!--begin::Label-->
                                                <label class="form-label d-flex align-items-center"> Comisiones del mes 4 </label>
                                                <!--end::Label-->
                                                <!--begin::Input-->
                                                <input type="text" class="form-control form-control-solid" name="input1" placeholder="" value="" />
                                                <!--end::Input-->
                                            </div>
                                        </div>

                                        <div class="flex-column flex-lg-row gap-5 justify-content-start current " data-kt-stepper-element="content">
                                            <div class="fv-row mb-10">
                                                <!--begin::Label-->
                                                <label class="form-label d-flex align-items-center"> Comisiones del mes 5 </label>
                                                <!--end::Label-->
                                                <!--begin::Input-->
                                                <input type="text" class="form-control form-control-solid" name="input1" placeholder="" value="" />
                                                <!--end::Input-->
                                            </div>
                                            <div class="fv-row mb-10">
                                                <!--begin::Label-->
                                                <label class="form-label d-flex align-items-center"> Comisiones del mes 6 </label>
                                                <!--end::Label-->
                                                <!--begin::Input-->
                                                <input type="text" class="form-control form-control-solid" name="input1" placeholder="" value="" />
                                                <!--end::Input-->
                                            </div>
                                        </div>
                                        <div class="flex-column flex-lg-row gap-5 justify-content-between current " data-kt-stepper-element="content">
                                            <div class="fv-row mb-10">
                                                <!--begin::Label-->
                                                <label class="form-label d-flex align-items-center"> Comisiones promedio </label>
                                                <!--end::Label-->
                                            </div>
                                            <div class="fv-row mb-10">
                                                <!--begin::Label-->
                                                <label class="form-label d-flex align-items-center"> L. 18,000.00 </label>
                                                <!--end::Label-->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="kt_tab_pane_6" role="tabpanel">
                                        <div class="fv-row mb-10">
                                            <!--begin::Label-->
                                            <label class="form-label d-flex align-items-center">Ingrese la cantidad de comisiones de los últimos seis meses. </label>
                                            <!--end::Label-->
                                        </div>
                                        <div class="flex-column flex-lg-row gap-5 justify-content-start current " data-kt-stepper-element="content">
                                            <div class="fv-row mb-10">
                                                <!--begin::Label-->
                                                <label class="form-label d-flex align-items-center"> Comisiones del mes 1 </label>
                                                <!--end::Label-->
                                                <!--begin::Input-->
                                                <input type="text" class="form-control form-control-solid" name="input1" placeholder="" value="" />
                                                <!--end::Input-->
                                            </div>

                                            <div class="fv-row mb-10">
                                                <!--begin::Label-->
                                                <label class="form-label d-flex align-items-center"> Comisiones del mes 2 </label>
                                                <!--end::Label-->
                                                <!--begin::Input-->
                                                <input type="text" class="form-control form-control-solid" name="input1" placeholder="" value="" />
                                                <!--end::Input-->
                                            </div>
                                            <div class="fv-row mb-10">
                                                <!--begin::Label-->
                                                <label class="form-label d-flex align-items-center"> Comisiones del mes 3 </label>
                                                <!--end::Label-->
                                                <!--begin::Input-->
                                                <input type="text" class="form-control form-control-solid" name="input1" placeholder="" value="" />
                                                <!--end::Input-->
                                            </div>
                                            <div class="fv-row mb-10">
                                                <!--begin::Label-->
                                                <label class="form-label d-flex align-items-center"> Comisiones del mes 4 </label>
                                                <!--end::Label-->
                                                <!--begin::Input-->
                                                <input type="text" class="form-control form-control-solid" name="input1" placeholder="" value="" />
                                                <!--end::Input-->
                                            </div>
                                        </div>

                                        <div class="flex-column flex-lg-row gap-5 justify-content-start current " data-kt-stepper-element="content">
                                            <div class="fv-row mb-10">
                                                <!--begin::Label-->
                                                <label class="form-label d-flex align-items-center"> Comisiones del mes 5 </label>
                                                <!--end::Label-->
                                                <!--begin::Input-->
                                                <input type="text" class="form-control form-control-solid" name="input1" placeholder="" value="" />
                                                <!--end::Input-->
                                            </div>
                                            <div class="fv-row mb-10">
                                                <!--begin::Label-->
                                                <label class="form-label d-flex align-items-center"> Comisiones del mes 6 </label>
                                                <!--end::Label-->
                                                <!--begin::Input-->
                                                <input type="text" class="form-control form-control-solid" name="input1" placeholder="" value="" />
                                                <!--end::Input-->
                                            </div>
                                        </div>
                                        <div class="flex-column flex-lg-row gap-5 justify-content-between current " data-kt-stepper-element="content">
                                            <div class="fv-row mb-10">
                                                <!--begin::Label-->
                                                <label class="form-label d-flex align-items-center"> Comisiones promedio </label>
                                                <!--end::Label-->
                                            </div>
                                            <div class="fv-row mb-10">
                                                <!--begin::Label-->
                                                <label class="form-label d-flex align-items-center"> L. 18,000.00 </label>
                                                <!--end::Label-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--begin::Step 1-->

                        <!--begin::Step 1-->
                        <label class="form-label d-flex align-items-center"> Seleccione la opcion a la que usted aplica </label>

                        <div class="flex-column flex-lg-row gap-5 justify-content-start current " data-kt-stepper-element="content">

                            <div class="fv-row mb-10">
                                <button type="button" class="btn btn-secondary" data-kt-stepper-action="">
                                    Alimentación
                                  </button>
                            </div>
                            <div class="fv-row mb-10">
                                <button type="button" class="btn btn-secondary" data-kt-stepper-action="">
                                    Vivienda
                                  </button>
                            </div>
                            <div class="fv-row mb-10">
                                <button type="button" class="btn btn-secondary" data-kt-stepper-action="">
                                    Alimentación + Vivienda
                                  </button>
                            </div>
                            <div class="fv-row mb-10">
                                <button type="button" class="btn btn-secondary" data-kt-stepper-action="">
                                    No aplica
                                  </button>
                            </div>

                        </div>
                        <!--begin::Step 1-->

                        <label class="form-label d-flex align-items-center"> ¿Cuántos tiempos de comida recibe? </label>

                        <div class="flex-column flex-lg-row gap-5 justify-content-start current " data-kt-stepper-element="content">

                            <div class="fv-row mb-10">
                                <button type="button" class="btn btn-secondary" data-kt-stepper-action="">
                                    1 tiempo de comida
                                  </button>
                            </div>
                            <div class="fv-row mb-10">
                                <button type="button" class="btn btn-secondary" data-kt-stepper-action="">
                                    2 ó mas tiempos de comida
                                  </button>
                            </div>
                        </div>
                        <!--begin::Step 1-->
                    </div>
                    <!--end::Group-->

                    <!--begin::Actions-->
                    <div class="d-flex flex-stack">
                        <!--begin::Wrapper-->
                        <div class="me-2">
                            <button type="button" class="btn btn-light btn-active-light-primary" data-kt-stepper-action="previous">
                          Back
                        </button>
                        </div>
                        <!--end::Wrapper-->

                        <!--begin::Wrapper-->
                        <div>
                            <button type="button" class="btn btn-primary" data-kt-stepper-action="submit">
                          <span class="indicator-label">
                            Submit
                          </span>
                          <span class="indicator-progress">
                            Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                          </span>
                        </button>

                            <button type="button" class="btn btn-primary" data-kt-stepper-action="next">
                          Continue
                        </button>
                        </div>
                        <!--end::Wrapper-->
                    </div>
                    <!--end::Actions-->
                </form>
                <!--end::Form-->
            </div>
        </div>
        <!--end::Stepper-->
    </div>