@import '../../../../../assets/sass/core/components/variables';

.overlay{
    position: absolute;
    background-color: rgba($primary, .9);
    width: 100%;
    height: 100%;
    border-radius: inherit;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
    div{
        text-align: center;
        .loader-recalulo {
            width: 68px;
            height: 68px;
            border: 10px solid;
            border-color: #DB473C transparent;
            border-radius: 50%;
            display: inline-block;
            box-sizing: border-box;
            animation: rotation 1.5s linear infinite;
        }
        h4{
            margin-top: 1rem;
            color: white;
            font-size: 2rem;
        }
    }
}

.active-overlay{
    display: flex;
}

.text-15{
    font-size: 15px;
}
.table.gy-7 th{
    padding-top: 1.3rem;
    padding-bottom: .5rem;
}
.table.gy-7 td{
    padding: 1rem 0;
}
thead {
    tr{
        border-top:1px solid#5F6368 !important;
        border-top-color: transparent !important;
        position: relative;
        th{
            h5{
                color: #949699;
                font-size: 15px;
            }
            &:nth-child(1){
                border-top-left-radius: 7px;
                border-bottom-left-radius: 7px;
            }
            &:nth-child(6){
                text-align: right;
                border-top-right-radius: 7px;
                border-bottom-right-radius: 7px;
            }
        } 
    }
}

tbody {
    tr td{
        position: relative;
        padding-bottom: -3rem !important;
        b{
            color: #5F6368;
            font-size: 15px;
        }
        &:nth-child(2){
            font-family: 'Time New Roman',serif;
            font-size: 17.2px;
            color: #5F6368;
        }
        &:nth-child(3){
            text-align: right;
            font-size: 15px;
            font-weight: 700;
            color: #5F6368;
        }
        &:nth-child(4){
            font-family:'Time New Roman',serif;
            color: $gray-600;
            font-size: 1.2rem;
            padding-right: 5rem;
        }
    }
    .panel{
        border: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 5rem;
        margin-top: -1.3rem;
        width: 100%;
        border-top: 5px solid white !important;
        transition: all ease 5s;
        td{
            &:nth-child(1){
                margin-left: 3rem !important;
                color: $gray-600;
            }
            &:nth-child(2){
                margin-left: 2rem !important;
            } 
        }
    }
}

.panel-pregnancy-status,
.days-off-pregnancy,
.breast-feeding-hours{
    visibility: collapse;
    .panel{
        display: none;
    }
    &.active{
        visibility:visible;
        .panel{
            display: flex;
        }
    }
}
