<ecms-datos-empleador *ngIf="toolbarService.userTypeOf === 1"></ecms-datos-empleador>
<ecms-datos-trabajador 
    *ngIf="toolbarService.userTypeOf === 0"
    (calculoResponseEvent)="calculoResponseListener($event)"
    ></ecms-datos-trabajador>
<br>
<ecms-calculo-salarial 
    [computedSalaries]="computedSalaries" 
    [laborOld]="laborOld"
></ecms-calculo-salarial>
<br>
<ecms-derechos-idemnizaciones 
    [compensationRights]="compensationRights"
></ecms-derechos-idemnizaciones>
<br>
<ecms-otros-derechos
    [otherRights]="otherRights"
></ecms-otros-derechos>
<br>
<ecms-calculo-generado *ngIf="showExportPdf"></ecms-calculo-generado>
<br>