@import '../../../../../assets/sass/core/components/variables';

.stepper-title{
    font-size: 15px !important;
}

.is-valid{
    border: 1px solid $success;
}

.is-invalid{
    border: 1px solid $danger;
}

.text-danger{
    color: $danger;
}