<div class="card shadow-sm">
  <div class="card-header">
    <h3 class="card-title">Datos de la empresa</h3>
    <!--<div class="card-toolbar">
      <button type="button" class="btn btn-sm btn-light">
        Action
      </button>
    </div>-->
  </div>
  <div class="card-body">
    <!--begin::Stepper-->
    <div #kt_stepper_vertical class="stepper stepper-pills stepper-column d-flex flex-column flex-lg-row" >
      <!--begin::Aside-->
      <div class="d-flex flex-row-auto w-100 w-lg-300px">
        <!--begin::Nav-->
        <div class="stepper-nav flex-cente">
          <!--begin::Step 1-->
          <div class="stepper-item me-5 current" data-kt-stepper-element="nav">
            <!--begin::Line-->
            <div class="stepper-line w-40px"></div>
            <!--end::Line-->

            <!--begin::Icon-->
            <div class="stepper-icon w-40px h-40px" >
              <i class="stepper-check fas fa-check">checked</i>
              <span class="stepper-number">1</span>
            </div>
            <!--end::Icon-->

            <!--begin::Label-->
            <div class="stepper-label">
              <h3 class="stepper-title">
                Datos de la empresa
              </h3>

              <div class="stepper-desc">

              </div>
            </div>
            <!--end::Label-->
          </div>
          <!--end::Step 1-->

          <!--begin::Step 2-->
          <div class="stepper-item me-5" data-kt-stepper-element="nav">
            <!--begin::Line-->
            <div class="stepper-line w-40px"></div>
            <!--end::Line-->

            <!--begin::Icon-->
            <div class="stepper-icon w-40px h-40px">
              <i class="stepper-check fas fa-check">checked</i>
              <span class="stepper-number">2</span>
            </div>
            <!--begin::Icon-->

            <!--begin::Label-->
            <div class="stepper-label">
              <h3 class="stepper-title">
                Datos del trabajador
              </h3>

              <div class="stepper-desc">

              </div>
            </div>
            <!--end::Label-->
          </div>
          <!--end::Step 2-->

          <!--begin::Step 3-->
          <div class="stepper-item me-5" data-kt-stepper-element="nav">
            <!--begin::Line-->
            <div class="stepper-line w-40px"></div>
            <!--end::Line-->

            <!--begin::Icon-->
            <div class="stepper-icon w-40px h-40px">
              <i class="stepper-check fas fa-check">checked</i>
              <span class="stepper-number">3</span>
            </div>
            <!--begin::Icon-->

            <!--begin::Label-->
            <div class="stepper-label">
              <h3 class="stepper-title">
                Datos salariales
              </h3>

              <div class="stepper-desc">

              </div>
            </div>
            <!--end::Label-->
          </div>
          <!--end::Step 3-->

          <!--begin::Step 4-->
          <div class="stepper-item me-5" data-kt-stepper-element="nav">
            <!--begin::Line-->
            <div class="stepper-line w-40px"></div>
            <!--end::Line-->

            <!--begin::Icon-->
            <div class="stepper-icon w-40px h-40px">
              <i class="stepper-check fas fa-check">checked</i>
              <span class="stepper-number">4</span>
            </div>
            <!--begin::Icon-->

            <!--begin::Label-->
            <div class="stepper-label">
              <h3 class="stepper-title">
                Salario en especie
              </h3>

              <div class="stepper-desc">

              </div>
            </div>
            <!--end::Label-->
          </div>
          <!--end::Step 4-->
        </div>
        <!--end::Nav-->
      </div>

      <!--begin::Content-->
      <div class="flex-row-fluid">
        <!--begin::Form-->
        <form class="form" [formGroup]="formEmployer" (ngSubmit)="formDataSend()" novalidate="novalidate">
          <!--begin::Group-->
          <div class="">
            <!--begin:: Datos empresa-->
            <div class="flex-column gap-5 current" data-kt-stepper-element="content">
              <!--begin::Input group-->
              <div formGroupName="companyData" class="row mb-10">
                <div class="col-sm-12 col-lg-3">
                  <!--begin::Label-->
                  <label class="form-label">Nombre de la empresa</label>
                  <!--end::Label-->
                  <!--begin::Input-->
                  <input
                    formControlName="companyName"
                    [class.is-valid]="isValidField('companyData.companyName')"
                    [class.is-invalid]="isInvalidField('companyData.companyName')"
                    type="text"
                    class="form-control form-control-solid"
                    placeholder="Empresa XYZ"/>
                    <p *ngIf="isInvalidField('companyData.companyName')">
                      <span
                      *ngIf="getErrorField('companyData.companyName', 'required')"
                      class="text-danger"
                      >Este campo es requerido.</span>
                      <span
                      *ngIf="getErrorField('companyData.companyName', 'minlength')"
                      class="text-danger"
                      > Debe contener al menos 5 caracteres.</span>
                    </p>
                  <!--end::Input-->
                </div>
                <div class="col-sm-12 col-lg-3">
                  <!--begin::Label-->
                  <label class="form-label">RTN</label>
                  <!--end::Label-->
                  <!--begin::Input-->
                  <input
                    formControlName="rtnNumber"
                    [class.is-valid]="isValidField('companyData.rtnNumber')"
                    [class.is-invalid]="isInvalidField('companyData.rtnNumber')"
                    type="text" class="form-control form-control-solid"
                    placeholder="Número de RTN" value=""/>
                  <!--end::Input-->
                  <div *ngIf="isInvalidField('companyData.rtnNumber')">
                    <span
                    *ngIf="getErrorField('companyData.rtnNumber', 'required')"
                    class="text-danger"
                    >Este campo es requerido.</span>
                    <span
                    *ngIf="getErrorField('companyData.rtnNumber', 'minlength')"
                    class="text-danger"
                    > Debe contener al menos 14 caracteres.</span>
                    <span
                    *ngIf="getErrorField('companyData.rtnNumber', 'maxlength')"
                    class="text-danger"
                    > Hay más de 14 caracteres.</span>
                  </div>
                </div>
                <div class="col-sm-12 col-lg-3">
                  <!--begin::Label-->
                  <label class="form-label">Actividad económica</label>
                  <!--end::Label-->
                  <!--begin::Input-->
                  <ng-select
                    formControlName="economicActivity"
                    [class.is-valid]="isValidField('companyData.economicActivity')"
                    [class.is-invalid]="isInvalidField('companyData.economicActivity')"
                    class=""
                    placeholder="">
                    <ng-option *ngFor="let item of economicActivityList" [value]="item.id">{{item.name}}</ng-option>
                  </ng-select>
                  <!--end::Input-->
                  <div *ngIf="isInvalidField('companyData.economicActivity')">
                    <span
                    *ngIf="getErrorField('companyData.economicActivity', 'required')"
                    class="text-danger"
                    >Este campo es requerido.</span>
                  </div>
                </div>
                <div class="col-sm-12 col-lg-3">
                  <!--begin::Label-->
                  <label class="form-label">Tamaño de la empresa</label>
                  <!--end::Label-->
                  <!--begin::Input-->
                  <ng-select
                    formControlName="companySize"
                    [class.is-valid]="isValidField('companyData.companySize')"
                    [class.is-invalid]="isInvalidField('companyData.companySize')"
                    type="text"
                    class="form-select-solid"  
                    placeholder="">
                    <ng-option *ngFor="let item of companySizeList" [value]="item.id">{{item.minQty}} - {{item.maxQty}} Empleados</ng-option>
                  </ng-select>
                  <!--end::Input-->
                  <div *ngIf="isInvalidField('companyData.companySize')">
                    <span
                    *ngIf="getErrorField('companyData.companySize', 'required')"
                    class="text-danger"
                    >Este campo es requerido.</span>
                  </div>
                </div>
              </div>
            </div>
            <!--begin:: Datos trabajador-->
            <div formGroupName="employeeData" class="flex-column gap-5" data-kt-stepper-element="content">
              <div class="row mb-10">
                <div class="col-sm-12 col-lg-3">
                  <!--begin::Label-->
                  <label class="form-label">Tipo identificación</label>
                  <!--end::Label-->
                  <!--begin::Input-->
                  <select 
                    formControlName="typeIdentity"
                    [class.is-valid]="isValidField('employeeData.typeIdentity')"
                    [class.is-invalid]="isInvalidField('employeeData.typeIdentity')"
                    class="form-select form-select-solid">
                    <option value="DNI">DNI</option>
                    <option value="Carnet de residente">Carnet de residente</option>
                    <option value="Pasaporte">Pasaporte</option>
                  </select>
                  <!--end::Input-->
                  <div *ngIf="isInvalidField('employeeData.typeIdentity')">
                    <span
                    *ngIf="getErrorField('employeeData.typeIdentity', 'required')"
                    class="text-danger"
                    >Este campo es requerido.</span>
                  </div>
                </div>
                <div class="col-sm-12 col-lg-3">
                  <!--begin::Label-->
                  <label class="form-label">Número de identificación</label>
                  <!--end::Label-->

                  <!--begin::Input-->
                  <input
                    formControlName="identityNumber"
                    [class.is-valid]="isValidField('employeeData.identityNumber')"
                    [class.is-invalid]="isInvalidField('employeeData.identityNumber')"
                    type="text"
                    class="form-control form-control-solid"
                    placeholder="080119990876549"
                  />
                  <div *ngIf="isInvalidField('employeeData.identityNumber')">
                    <span
                    *ngIf="getErrorField('employeeData.identityNumber', 'required')"
                    class="text-danger"
                    >Este campo es requerido.</span>
                    <span
                    *ngIf="getErrorField('employeeData.identityNumber', 'minlength')"
                    class="text-danger"
                    > Debe contener al menos 14 caracteres.</span>
                    <span
                    *ngIf="getErrorField('employeeData.identityNumber', 'maxlength')"
                    class="text-danger"
                    > Hay más de 14 caracteres.</span>
                  </div>
                  <!--end::Input-->
                </div>
                <div class="col-sm-12 col-lg-3">
                  <!--begin::Label-->
                  <label class="form-label">Nombre del trabajador</label>
                  <!--end::Label-->

                  <!--begin::Input-->
                  <input
                    formControlName="employeeName"
                    [class.is-valid]="isValidField('employeeData.employeeName')"
                    [class.is-invalid]="isInvalidField('employeeData.employeeName')"
                    type="text" 
                    class="form-control form-control-solid" 
                    placeholder="Jorge Adalberto"/>
                  <!--end::Input-->
                  <div *ngIf="isInvalidField('employeeData.employeeName')">
                    <span
                    *ngIf="getErrorField('employeeData.employeeName', 'required')"
                    class="text-danger"
                    >Este campo es requerido.</span>
                  </div>
                </div>
                <div class="col-sm-12 col-lg-3">
                  <!--begin::Label-->
                  <label class="form-label">Apellido del trabajador</label>
                  <!--end::Label-->

                  <!--begin::Input-->
                  <input 
                    formControlName="employeeLastname"
                    [class.is-valid]="isValidField('employeeData.employeeLastname')"
                    [class.is-invalid]="isInvalidField('employeeData.employeeLastname')"
                    type="text" 
                    class="form-control form-control-solid" 
                    placeholder="Aguilar"/>
                  <!--end::Input-->
                  <div *ngIf="isInvalidField('employeeData.employeeLastname')">
                    <span
                    *ngIf="getErrorField('employeeData.employeeLastname', 'required')"
                    class="text-danger"
                    >Este campo es requerido.</span>
                  </div>
                </div>
              </div>
              <div class="row mb-10">
                <div class="col-sm-12 col-lg-3">
                  <!--begin::Label-->
                  <label class="form-label">Edad</label>
                  <!--end::Label-->

                  <!--begin::Input-->
                  <input
                    formControlName="employeeAge"
                    [class.is-valid]="isValidField('employeeData.employeeAge')"
                    [class.is-invalid]="isInvalidField('employeeData.employeeAge')"
                    type="text" 
                    class="form-control form-control-solid" 
                    placeholder="30"/>
                  <!--end::Input-->
                  <div *ngIf="isInvalidField('employeeData.employeeAge')">
                    <span
                    *ngIf="getErrorField('employeeData.employeeAge', 'required')"
                    class="text-danger"
                    >Este campo es requerido.</span>
                    <span
                    *ngIf="getErrorField('employeeData.employeeAge', 'min')"
                    class="text-danger"
                    > Debe tener al menos 14 años.</span>
                    <span
                    *ngIf="getErrorField('employeeData.employeeAge', 'max')"
                    class="text-danger"
                    > El límite de edad es de 85 años.</span>
                    <span
                    *ngIf="getErrorField('employeeData.employeeAge', 'pattern')"
                    class="text-danger"
                    > Este campo es númerico.</span>
                  </div>
                </div>
                <div class="col-sm-12 col-lg-3">
                  <!--begin::Label-->
                  <label class="form-label">Sexo</label>
                  <!--end::Label-->
                  <!--begin::Input-->
                  <select
                    formControlName="employeeSex"
                    [class.is-valid]="isValidField('employeeData.employeeSex')" 
                    [class.is-invalid]="isInvalidField('employeeData.employeeSex')" 
                    class="form-select form-select-solid">
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                  </select>
                  <!--end::Input-->
                  <span
                    *ngIf="isInvalidField('employeeData.employeeSex') && getErrorField('employeeData.employeeSex', 'required')"
                    class="text-danger"
                    > Este campo es requerido.</span>
                </div>
                <div class="col-sm-12 col-lg-3">
                  <!--begin::Label-->
                  <label class="form-label">Número telefónico</label>
                  <!--end::Label-->
                  <!--begin::Input-->
                  <input
                    formControlName="employeePhone"
                    [class.is-valid]="isValidField('employeeData.employeePhone')"
                    [class.is-invalid]="isInvalidField('employeeData.employeePhone')"
                    type="tel" 
                    class="form-control form-control-solid"
                    placeholder="32866900"
                    >
                  <!--end::Input-->
                  <div *ngIf="isInvalidField('employeeData.employeePhone')">
                    <span
                    *ngIf="getErrorField('employeeData.employeePhone', 'required')"
                    class="text-danger"
                    >Este campo es requerido.</span>
                    <span
                    *ngIf="getErrorField('employeeData.employeePhone', 'minlength')"
                    class="text-danger"
                    > Debe tener al menos 8 digitos.</span>
                    <span
                    *ngIf="getErrorField('employeeData.employeePhone', 'maxlength')"
                    class="text-danger"
                    > El límite es de 8 digitos.</span>
                  </div>
                </div>
                <div class="col-sm-12 col-lg-3">
                  <!--begin::Label-->
                  <label class="form-label">Correo electrónico</label>
                  <!--end::Label-->
                  <!--begin::Input-->
                  <input 
                    formControlName="employeeEmail"
                    [class.is-valid]="isValidField('employeeData.employeeEmail')"
                    [class.is-invalid]="isInvalidField('employeeData.employeeEmail')"
                    type="email" 
                    class="form-control form-control-solid"
                    placeholder="correo@gmail.com"
                  >
                  <!--end::Input-->
                  <div *ngIf="isInvalidField('employeeData.employeeEmail')">
                    <span
                    *ngIf="getErrorField('employeeData.employeeEmail', 'required')"
                    class="text-danger"
                    >Este campo es requerido.</span>
                    <span
                    *ngIf="getErrorField('employeeData.employeeEmail', 'email')"
                    class="text-danger"
                    > Debe ser un correo valido.</span>
                  </div>
                </div>
              </div>
              <div class="row mb-10">
                <div class="col-sm-12 col-lg-3">
                  <!--begin::Label-->
                  <label class="form-label">Departamento</label>
                  <!--end::Label-->
                  <!--begin::Input-->
                  <ng-select 
                    formControlName="department"
                    [class.is-valid]="isValidField('employeeData.department')"
                    [class.is-invalid]="isInvalidField('employeeData.department')"
                    (change)="getLocation($event)"
                    app
                    >
                    <ng-option
                      *ngFor="let location  of locations"
                      [value]="location.location.id" >
                      {{location.location.name}}
                    </ng-option>
                  </ng-select>
                  <!--end::Input-->
                  <div *ngIf="isInvalidField('employeeData.department')">
                    <span
                    *ngIf="getErrorField('employeeData.employeeAge', 'required')"
                    class="text-danger"
                    >Este campo es requerido.</span>  
                  </div>
                </div>
                <div class="col-sm-12 col-lg-3">
                  <!--begin::Label-->
                  <label class="form-label">Municipio</label>
                  <!--end::Label-->
                  <!--begin::Input-->
                  <ng-select 
                    formControlName="municipality" 
                    [class.is-valid]="isValidField('employeeData.municipality')"
                    [class.is-invalid]="isInvalidField('employeeData.municipality')"
                    class="">
                    <ng-option *ngFor="let value of currentMunicipios"  [value]="value.location.id">{{value.location.name}}</ng-option>
                  </ng-select>
                  <!--end::Input-->
                  <div *ngIf="isInvalidField('employeeData.department')">
                    <span
                    *ngIf="getErrorField('employeeData.employeeAge', 'required')"
                    class="text-danger"
                    >Este campo es requerido.</span>  
                  </div>
                </div>
              </div>
            </div>
            <!--begin::Step 1-->

            <!--begin:: Datos Salariales-->
            <div formGroupName="salaryData" class="flex-column gap-5" data-kt-stepper-element="content">
              <div class="row mb-10">
                <div class="col-sm-12 col-lg-3">
                  <!--begin::Label-->
                  <label class="form-label">Fecha de inicio</label>
                  <!--end::Label-->
                  <!--begin::Input-->
                  <input 
                    formControlName="startDate"
                    [class.is-valid]="isValidField('salaryData.startDate')"
                    [class.is-invalid]="isInvalidField('salaryData.startDate')"
                    type="date" 
                    class="form-control form-control-solid" 
                  />
                  <!--end::Input-->
                  <div *ngIf="isInvalidField('salaryData.startDate')">
                    <span
                    *ngIf="getErrorField('salaryData.startDate', 'required')"
                    class="text-danger"
                    >Este campo es requerido.</span>  
                  </div>
                </div>
                <div class="col-sm-12 col-lg-3">
                  <!--begin::Label-->
                  <label class="form-label">Fecha de despido</label>
                  <!--end::Label-->

                  <!--begin::Input-->
                  <input
                    formControlName="endDate"
                    [class.is-valid]="isValidField('salaryData.endDate')"
                    [class.is-invalid]="isInvalidField('salaryData.endDate')"
                    type="date" 
                    class="form-control form-control-solid" 
                  />
                  <!--end::Input-->
                  <div *ngIf="isInvalidField('salaryData.endDate')">
                    <span
                    *ngIf="getErrorField('salaryData.endDate', 'required')"
                    class="text-danger"
                    >Este campo es requerido.</span>  
                  </div>
                </div>
                <div class="col-sm-12 col-lg-3">
                  <!--begin::Label-->
                  <label class="form-label">¿Recibe un salario fijo?</label>
                  <!--end::Label-->

                  <!--begin::Input-->
                  <select
                    formControlName="fixedSalary"
                    [class.is-valid]="isValidField('salaryData.fixedSalary')"
                    [class.is-invalid]="isInvalidField('salaryData.fixedSalary')"
                    class="form-select form-select-solid">
                    <option *ngFor="let option of salaryOptions">{{option}}</option>
                  </select>
                  <!--end::Input-->
                </div>
                <div class="col-sm-12 col-lg-3">
                  <!--begin::Label-->
                  <label class="form-label">Salario mensual</label>
                  <!--end::Label-->

                  <!--begin::Input-->
                  <input
                  formControlName="salary"
                  [class.is-valid]="isValidField('salaryData.salary')"
                  [class.is-invalid]="isInvalidField('salaryData.salary')"
                  type="number" 
                  class="form-control form-control-solid" 
                  placeholder="L. 18,000.00" value=""/>
                  <!--end::Input-->
                  <div *ngIf="isInvalidField('salaryData.salary')">
                    <span
                    *ngIf="getErrorField('salaryData.salary', 'required')"
                    class="text-danger"
                    >Este campo es requerido.</span>  
                    <span
                    *ngIf="getErrorField('salaryData.salary', 'pattern')"
                    class="text-danger"
                    >Este campo es númerico.</span>  
                  </div>
                </div>
              </div>
              <div *ngIf="haveSalary === 'NO'" class="row mb-10">
                <div class="col-12">
                  <div class="row mb-10">
                    <b>Ingrese los salarios recibidos en los últimos seis meses.</b>
                  </div>
                  <div class="row mb-10">
                    <div class="col-sm-12 col-lg-3">
                      <!--begin::Label-->
                      <label class="form-label">Salario Mes 1</label>
                      <!--end::Label-->
                      <!--begin::Input-->
                      <input type="number" class="form-control form-control-solid" placeholder=""/>

                      <!--end::Input-->
                    </div>
                    <div class="col-sm-12 col-lg-3">
                      <!--begin::Label-->
                      <label class="form-label">Salario Mes 2</label>
                      <!--end::Label-->
                      <!--begin::Input-->
                      <input type="number" class="form-control form-control-solid" name="input1" placeholder="" value=""/>

                      <!--end::Input-->
                    </div>
                    <div class="col-sm-12 col-lg-3">
                      <!--begin::Label-->
                      <label class="form-label">Salario Mes 3</label>
                      <!--end::Label-->
                      <!--begin::Input-->
                      <input type="number" class="form-control form-control-solid" name="input1" placeholder="" value=""/>

                      <!--end::Input-->
                    </div>
                    <div class="col-sm-12 col-lg-3">
                      <!--begin::Label-->
                      <label class="form-label">Salario Mes 4</label>
                      <!--end::Label-->
                      <!--begin::Input-->
                      <input type="number" class="form-control form-control-solid" name="input1" placeholder="" value=""/>

                      <!--end::Input-->
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 col-lg-3">
                      <!--begin::Label-->
                      <label class="form-label">Salario Mes 5</label>
                      <!--end::Label-->
                      <!--begin::Input-->
                      <input type="number" class="form-control form-control-solid" name="input1" placeholder="" value=""/>

                      <!--end::Input-->
                    </div>
                    <div class="col-sm-12 col-lg-3">
                      <!--begin::Label-->
                      <label class="form-label">Salario Mes 6</label>
                      <!--end::Label-->
                      <!--begin::Input-->
                      <input type="number" class="form-control form-control-solid" name="input1" placeholder="" value=""/>

                      <!--end::Input-->
                    </div>
                  </div>
                  <div class="row mt-10 d-flex justify-content-end">
                    <div class="col-6 d-flex justify-content-end">
                      <a href="#" class="btn btn-primary">Cálcular salario promedio</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mb-10">
                <div class="col-12">
                  <div class="row mb-10">
                    <b>Seleccione los beneficios a los que gozó.</b>
                  </div>
                  <div class="row mb-10">
                    <div class="col-sm-12">
                      <ul class="nav nav-tabs nav-line-tabs nav-line-tabs-2x mb-5 fs-6">
                        <li class="nav-item" role="presentation">
                          <button class="nav-link active" data-bs-toggle="tab" role="tab" data-bs-target="#kt_tab_pane_4">Comisiones</button>
                        </li>
                        <li class="nav-item">
                          <button class="nav-link" data-bs-toggle="tab" role="tab" data-bs-target="#kt_tab_pane_5">Horas Extras</button>
                        </li>
                        <li class="nav-item">
                          <button class="nav-link" data-bs-toggle="tab" role="tab" data-bs-target="#kt_tab_pane_6">Bonificaciones</button>
                        </li>
                      </ul>
                      <div class="tab-content" id="myTabContent">
                          <div class="tab-pane fade show active" id="kt_tab_pane_4" role="tabpanel">
                            <div class="row mb-10">
                              <div class="col-12 mt-5">
                                <b>Ingrese la cantidad de comisiones de los últimos seis meses.</b>
                              </div>
                            </div>
                            <div class="row mb-10">
                              <div class="col-sm-12 col-lg-3">
                                <label class="form-label">Comision Mes 1</label>
                                <input type="number" class="form-control form-control-solid" name="input1" placeholder="0" value="0"/>
                              </div>
                              <div class="col-sm-12 col-lg-3">
                                <label class="form-label">Comision Mes 2</label>
                                <input type="number" class="form-control form-control-solid" name="input1" placeholder="0" value="0"/>
                              </div>
                              <div class="col-sm-12 col-lg-3">
                                <label class="form-label">Comision Mes 3</label>
                                <input type="number" class="form-control form-control-solid" name="input1" placeholder="0" value="0"/>
                              </div>
                              <div class="col-sm-12 col-lg-3">
                                <label class="form-label">Comision Mes 4</label>
                                <input type="number" class="form-control form-control-solid" name="input1" placeholder="0" value="0"/>
                              </div>
                            </div>
                            <div class="row mb-10">
                              <div class="col-sm-12 col-lg-3">
                                <label class="form-label">Comision Mes 5</label>
                                <input type="number" class="form-control form-control-solid" name="input1" placeholder="0" value="0"/>
                              </div>
                              <div class="col-sm-12 col-lg-3">
                                <label class="form-label">Comision Mes 6</label>
                                <input type="number" class="form-control form-control-solid" name="input1" placeholder="0" value="0"/>
                              </div>
                            </div>
                            <div class="row mb-10">
                              <div class="col-sm-12 col-lg-3">
                                <b>Comisiones Promedio</b>
                              </div>
                              <div class="col-sm-12 col-lg-9">
                                ∑(M1 + M2 + M3 + M4 + M5 + M6) ÷ 6      =  <b>L. 18,000.00</b>
                              </div>
                            </div>
                          </div>
                          <div class="tab-pane fade" id="kt_tab_pane_5" role="tabpanel">
                              Nulla est ullamco ut irure incididunt nulla Lorem Lorem minim irure officia enim reprehenderit.
                          </div>
                          <div class="tab-pane fade" id="kt_tab_pane_6" role="tabpanel">
                              Sint sit mollit irure quis est nostrud cillum consequat Lorem esse do quis dolor esse fugiat sunt do.
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--begin::Datos Salariales-->

            <!--begin:: Salario en especie-->
            <div class="flex-column gap-5" data-kt-stepper-element="content">
              <!--begin::subtitle group-->
              <div class="row mb-10">
                <div class="col-12">
                  <b>Seleccione la opción a la que usted aplica</b>
                </div>
              </div>
              <!--end::Subtitle group-->
              <!--begin::Input group-->
              <div class="row mb-10">
                <div class="col-sm-12 col-lg-4">
                  <button type="button" class="btn btn-light-primary w-100" data-kt-docs-advanced-forms="interactive">Alimentación</button>

                </div>
                <div class="col-sm-12 col-lg-4">
                  <button type="button" class="btn btn-light-primary w-100" data-kt-docs-advanced-forms="interactive">Vivienda</button>
                </div>
                <div class="col-sm-12 col-lg-4">
                  <button type="button" class="btn btn-light-primary w-100" data-kt-docs-advanced-forms="interactive">Vivienda + Alimentación</button>
                </div>
              </div>
              <div class="row mb-10">
                <div class="col-sm-12 col-lg-4">
                  <button type="button" class="btn btn-light-primary w-100" data-kt-docs-advanced-forms="interactive">No aplica</button>
                </div>
              </div>
              <div class="row mb-10">
                <div class="col-12">
                  <div class="row mb-10">
                    <b>¿Cuántos tiempos de comida recibe?</b>
                  </div>
                  <div class="row mb-10">
                    <div class="col-sm-12 col-lg-4">
                      <!--begin::Option-->
                      <input type="radio" class="btn-check" name="tiempo"   id="kt_radio_buttons_2_option_1"/>
                      <label class="btn btn-outline btn-outline-dashed btn-outline-default" for="kt_radio_buttons_2_option_1">
                        <span>1 tiempo de comida</span>
                      </label>
                      <!--end::Option-->
                    </div>
                    <div class="col-sm-12 col-lg-4">
                      <!--begin::Option-->
                      <input type="radio" class="btn-check" name="tiempo"   id="kt_radio_buttons_2_option_2"/>
                      <label class="btn btn-outline btn-outline-dashed btn-outline-default" for="kt_radio_buttons_2_option_2">
                        <span>2 o más tiempos de comida</span>
                      </label>
                      <!--end::Option-->
                    </div>
                  </div>
                </div>
              </div>
              <!--end::Input group-->
            </div>
            <!--begin:: Salario en especie-->
          </div>
          <!--end::Group-->

          <!--begin::Actions-->
          <div class="d-flex justify-content-end gap-5">
            <!--begin::Wrapper-->
            <div class="">
              <button type="button" class="btn btn-light btn-active-light-primary" data-kt-stepper-action="previous">
                Regresar
              </button>
            </div>
            <!--end::Wrapper-->

            <!--begin::Wrapper-->
            <div>
              <button type="button" class="btn btn-primary" data-kt-stepper-action="submit">
                <span class="indicator-label">
                  Realizar cálculo
                </span>
                <span class="indicator-progress">
                  Espere un momento, por favor... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                </span>
              </button>

              <button
                type="button" 
                class="btn btn-primary" 
                data-kt-stepper-action="next">
                Siguiente
              </button>
            </div>
            <!--end::Wrapper-->
          </div>
          <!--end::Actions-->
        </form>
        <!--end::Form-->
      </div>
    </div>
    <!--end::Stepper-->
  </div>
  <!--<div class="card-footer d-flex justify-content-end gap-5">
    <a href="#" class="btn btn-secondary" *ngIf="currentStep > 1">Regresar</a>
    <a href="#" class="btn btn-primary">Siguiente</a>
  </div>-->
</div>
